<% Epoch.where(is_open: true).order('epo_num desc').limit(10).each do |epoch| %>
  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= epoch.epo_num %>
    </th>
    <td class="px-6 py-4">
      <%= epoch.begin_number %>~<%= epoch.end_number %>
    </td>
    <td class="px-6 py-4">
      <%= (epoch.sum_capacity.to_i/10**8).to_i %>CKB
    </td>
    <td class="px-6 py-2">
      <span class="w-7 h-7 bg-[#1A56DB] rounded-full text-white px-[1px] flex items-center justify-center"><%= epoch.win_number %></span>
    </td>
    <td class="px-6 py-4">
      <%= epoch.win_tx.present? ? (epoch.sum_capacity * 0.95).to_i/10**8 : 0 %>CKB
    </td>
    <td class="px-6 py-4">
      <%= link_to epoch.win_tx.to_s.gsub(/(.{9}).*(.{6})/,'\1...\2'), "https://pudge.explorer.nervos.org/transaction/#{epoch.win_tx}",target: '_blank',class: 'font-medium text-blue-600 dark:text-blue-500 hover:underline' if epoch.win_tx %>
    </td>
  </tr>
<% end %>